#game-board {
    list-style: none;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: 0.8rem;
    margin-left: 0;
    padding: 0;
    padding: 0.7rem;
    display: grid;
}

#player-turn {
    display: none;
}

#game-board li {
    font-family: Cubano;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: scale 0.15s;
    margin: 0;
}

#game-board li:hover {
    background-color: #69adc2;
    background-color: #55bcf7;
    scale: 106%;
}

#game-board li.disabled {
    background-color: #69adc2;
    background-color: #55bcf7;
    scale: 100%;
    cursor: default;
}

#announce-winner {
    display: none;
}