#game-board {
    list-style: none;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: 0.8rem;
    margin-left: 0;
    padding: 0;
    padding: 0.7rem;
    display: grid;
}

#player-turn {
    display: none;
}

#player-turn-name {
    font-weight: bold;
}

#game-board li {
    font-family: Cubano;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    color: white;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: scale 0.15s;
    margin: 0;
}

#game-board li:hover {
    scale: 106%;
}

#game-board li.disabled {
    scale: 100%;
    cursor: default;
}

#announce-winner {
    display: none;
}