/*
#87f630; green
#77de28; dark green
#ff5e89; red
#d63e5a; dark red
#1e2021; dark grey
*/

@font-face {
    font-family: Cubano;
    src: url("../other/cubano.ttf");
}

body {
    background-color: #d63e5a;
    color: #1e2021;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#site-container {
    width: 35em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0.5rem auto;
}

h1 {
    font-family: Cubano;
    background-color: white;
    width: fit-content;
    padding: 0.5rem;
    font-size: 2.5rem;
}

h2 {
    font-family: Cubano;
    background-color: #ff5e89;
    width: fit-content;
    padding: 0.8rem 1.3rem;
    border-radius: 50px;
}

h3 {
    color: white;
}

button {
    font-family: inherit;
    font-weight: bold;
    background-color: #87f630;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    border: none
}

button:hover {
    background-color: #77de28;
}