/*
#87f630; green
#77de28; dark green
#ff799d; red
#f22f46; dark red
#1e2021; dark grey
*/

@font-face {
    font-family: Cubano;
    src: url("../other/cubano.ttf");
}

body {
    background-color: #f22f46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#site-container {
    width: 23rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0.5rem auto;
    color: #1e2021;
}

h1 {
    font-family: Cubano;
    background-color: white;
    width: fit-content;
    padding: 0.5rem;
    font-size: 2.5rem;
}

h2 {
    font-family: Cubano;
    background-color: #ff799d;
    width: fit-content;
    padding: 0.8rem 1.3rem;
    border-radius: 50px;
}

h3 {
    color: white;
}

button{
    font-family: inherit;
    font-weight: bold;
    background-color: #87f630;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    border: none;
    display: block;
    width: fit-content;
    color: black;
}

button:hover{
    background-color: #77de28;
}

label, p {
    font-size: 1.2rem;
    color: white;
    display: block;
}

#player-turn-name {
    color: #87f630;
    font-weight: bold;
    font-size: 1.6rem;
}